<h1>Edit Profile </h1>

<%= form_with(model: @session) do |form|%>

    
    <%= form.label :first_name%>
    <%= form.text_field :first_name%><br><br>

    <%= form.label :last_name%>
    <%= form.text_field :last_name%><br><br>    

    <%= form.label :email%>
    <%= form.text_field :email%><br><br>

    <%= form.label :city%>
    <%= form.text_field :city%><br><br>

    <%= form.label :area%>
    <%= form.text_field :area%><br><br>

    <%= form.label :mobile_no%>
    <%= form.text_field :mobile_no%><br><br>

    <%= form.label :password%>
    <%= form.text_field :password%><br><br>

    <%= form.submit %>
<% end %>
