<p>
  <strong>first_name:</strong>
  <%= @register.first_name %>
</p>
 <p>
  <strong>last_name:</strong>
  <%= @register.last_name %>
</p>
<p>
  <strong>email:</strong>
  <%= @register.email %>
</p>
<p>
  <strong>city:</strong>
  <%= @register.city %>
</p>
<p>
  <strong>area</strong>
  <%= @register.area %>
</p>
<p>
  <strong>mobile_no:</strong>
  <%= @register.mobile_no%>
</p>
<p>
  <strong>pass:</strong>
  <%= @register.password %>
</p>

<%= link_to 'Back',registers_path %>
