<p>
  <strong>first_name:</strong>
  <%= @welcome.First_name %>
</p>
 <p>
  <strong>last_name:</strong>
  <%= @welcome.last_name %>
</p>
<p>
  <strong>email:</strong>
  <%= @welcome.email %>
</p>
<p>
  <strong>user:</strong>
  <%= @welcome.user %>
</p>
<p>
  <strong>password:</strong>
  <%= @welcome.password %>
</p>
<%= link_to 'Back',welcomes_path %>
